pipeline/pl_execute_transform_load.json
{
	"name": "pl_execute_transform_load",
	"properties": {
		"activities": [
			{
				"name": "Load",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@activity('Transform').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "DBW_EstudoDeCaso",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Transform",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.Notebook",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "DBW_EstudoDeCaso",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Notebook": {
				"type": "string"
			}
		},
		"folder": {
			"name": "covid-sp"
		},
		"annotations": []
	}
}