pipeline/pl_import_covidsp.json
{
	"name": "pl_import_covidsp",
	"properties": {
		"activities": [
			{
				"name": "Lookup SP Gov Covid URL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_json",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "metadata",
							"fileName": "covidsource.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach ecdc file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup SP Gov Covid URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SP Gov Covid URL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Filter_atualizacao",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().type",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "csv",
										"activities": [
											{
												"name": "Wait1",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									},
									{
										"value": "zip",
										"activities": [
											{
												"name": "Wait2",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Filter_atualizacao",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@item()",
									"type": "Expression"
								},
								"condition": {
									"value": "@contains(item().atualizcao, pipeline().parameters.periodo)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute pl_control_file",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach ecdc file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_control_file",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"periodo": {
				"type": "string"
			}
		},
		"folder": {
			"name": "covid-sp"
		},
		"annotations": []
	}
}