pipeline/pl_import_covidsp.json
{
	"name": "pl_import_covidsp",
	"properties": {
		"activities": [
			{
				"name": "Lookup SP Gov Covid URL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_json",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "metadata",
							"fileName": "covidsource.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach ecdc file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_atualizacao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_atualizacao').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "uuid",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "processDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().type",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "csv",
										"activities": [
											{
												"name": "Copy_dataset",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET"
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_import_covid_dataset",
														"type": "DatasetReference",
														"parameters": {
															"url": {
																"value": "@concat(item().base,formatDateTime(utcnow(), 'yyyy'),'/',formatDateTime(utcnow(), 'MM'),'/',variables('processDate'),'_',item().source,'.',item().type)",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sink_dataset",
														"type": "DatasetReference",
														"parameters": {
															"path": {
																"value": "@concat(item().dataset,variables('processDate'),'/',variables('uuid'))",
																"type": "Expression"
															},
															"fileName": {
																"value": "@concat(item().dataset,'.csv')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "zip",
										"activities": [
											{
												"name": "Copy_zipped_dataset",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET"
														},
														"formatSettings": {
															"type": "BinaryReadSettings",
															"compressionProperties": {
																"type": "ZipDeflateReadSettings",
																"preserveZipFileNameAsFolder": false
															}
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_import_covid_zipped",
														"type": "DatasetReference",
														"parameters": {
															"url": {
																"value": "@concat(item().base,item().source,'.',item().type)",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_unzipped_sink_covid_dataset",
														"type": "DatasetReference",
														"parameters": {
															"path": {
																"value": "@concat(item().dataset,'/',variables('processDate'),'/',variables('uuid'))",
																"type": "Expression"
															},
															"fileName": {
																"value": "@concat(item().dataset,'.csv')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						},
						{
							"name": "Control_file",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Switch1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "column1",
											"value": {
												"value": "@variables('processDate')",
												"type": "Expression"
											}
										},
										{
											"name": "column2",
											"value": {
												"value": "@variables('uuid')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_control_file",
									"type": "DatasetReference",
									"parameters": {
										"path": "controlfile",
										"fileName": "Control_interface_model.txt"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_control_file",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@concat('raw/',item().dataset)",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat('Control_file_',item().dataset,'.txt')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "processDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "processDate",
								"value": {
									"value": "@formatDateTime(utcnow(), 'yyyyMMdd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "uuid",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "uuid",
								"value": {
									"value": "@pipeline().GroupId",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter_atualizacao",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup SP Gov Covid URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SP Gov Covid URL').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Atualizacao, pipeline().parameters.periodo)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"periodo": {
				"type": "string"
			}
		},
		"variables": {
			"dataset": {
				"type": "String"
			},
			"base": {
				"type": "String"
			},
			"processDate": {
				"type": "String"
			},
			"uuid": {
				"type": "String"
			}
		},
		"folder": {
			"name": "covid-sp"
		},
		"annotations": []
	}
}