pipeline/pl_import_dados_covid_raw.json
{
	"name": "pl_import_dados_covid_raw",
	"properties": {
		"activities": [
			{
				"name": "Lookup configs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_json",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "configs",
							"fileName": "spcoviddata.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach spcovidata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup configs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup configs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy CSV Covid",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dataset_covidsp_import",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "@item().sourceRelativeURL",
											"type": "Expression"
										},
										"sourceBaseURL": {
											"value": "@item().sourceBaseURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_csv",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "raw/covid-sp",
										"FileName": {
											"value": "@item().sinkFileName",
											"type": "Expression"
										},
										"Delimiter": "*"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "covid-sp"
		},
		"annotations": []
	}
}